<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webserver>
    <httperrors errormode="custom" existingresponse="replace">
        <remove statuscode="404" substatuscode="-1" />
        <error statuscode="404" path="/" responsemode="executeurl" />
    </httperrors>
  </system.webserver>
</configuration>